/*
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

/*------------- homepage --------------------*/
body#home {
  background-image: url(home_page.png);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  background-repeat:repeat-x;
}

/*------------- header --------------------*/
h5#home {
   margin: 10px 0px 10px 0px;
   color: #FFF;
   font: 16px "ClarendonRoman",Georgia,Times,serif;
}

#masthead {
  height: 80px;
  background: url(top.png);
  z-index: 100;
  top: 20px;
  left: 0px !important;
  position: fixed;
  width: 100%;
}

#botmenu{
  height:0px;
  margin:0px 10px 0px 0px;
  font: 13px "ClarendonRoman",Georgia,Times,serif;
}

.submenu ul{
  margin:-5px 0px;
  padding:0px 0px;
  width:100%;
  float: right;
  }

.submenu li { 
  float:right;
  list-style:none;
  margin:10px;
  padding:10px;
  color:#ccc;
  text-shadow:1px 1px 0px #000;
  }

.submenu li a{
  color:#ccc;
  display:block;
  margin:0;
  text-decoration:none;
  position:relative;
  text-shadow:1px 1px 0px #000}

.submenu li.links{
 padding-right:3.5%;
}

.submenu li a:hover, .submenu li a:active, .submenu .current_page_item
a{
  color:#fff;
  text-shadow:1px 1px 0px #000}

#profile_image {
  width: 15%;
  height: 15%;
}

/*------------- new trip form --------------------*/
fieldset#newtrip {
    padding-bottom: 23px;
    border-bottom: 1px solid rgb(167, 167, 164);
}

form label {
    font: 13px "ClarendonRoman",Georgia,Times,serif;
    color: rgb(82, 82, 80);
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
    position: relative;
    top: 4px;
}

input#name {
    width: 370px;
}

form input {
    border-width: medium medium 1px;
    border-style: none none dashed;
    border-color: -moz-use-text-color -moz-use-text-color rgb(152, 152, 149);
    color: rgb(79, 79, 79);
    background: none repeat scroll 0% 0% transparent;
    outline: medium none;
    position: relative;
    bottom: 13px;
    font: 16px "SeanRegular",Courier New,Courier New,Courier6,monospace;
    letter-spacing: 1px;
}

form select, form input {
    float: right;
}

input, select {
    vertical-align: middle;
}

#submitbutton {
    cursor: pointer;
    background: url("../img/submit.png") no-repeat scroll 0% 0% transparent;
    width: 445px;
    height: 86px;
    border: medium none;
    text-indent: -9999px;
    position: relative;
    bottom: 10px;
}


