/*
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

/*------------- homepage --------------------*/
body.home {
  background: #9edbff url(home_page.png);
  background-size: 100% auto;
  width: 100%;
  border-radius: 40px;
}

.logo_image {
  float:left;
  width: 200px;
  padding: 0px 0px 0px 10px;
}

body.home .mainwrapper {
  margin-top:150px;
}

/*------------- header --------------------*/
h5#home {
   margin: 10px 0px 10px 0px;
   color: #FFF;
   font: 16px "ClarendonRoman",Georgia,Times,serif;
}

#masthead {
  height: 80px;
  background: url(top.png);
  margin-top: 20px;
  width: 100%;
  margin-bottom:50px;
}

/*------------- left-sided links --------------------*/
.submenu ul{
    padding:none;
    margin:none;
    overflow: hidden;
    padding-right: 50px;
    padding-top:15px;
    margin-bottom:0;
  }

.submenu li { 
  float: right;
  list-style:none;
  margin:0px 10px 10px 10px;
  color:#ccc;
  text-shadow:1px 1px 0px #000;

  }

.submenu li a{
  color:#ccc;
  display:block;
  margin:0;
  text-decoration:none;
  text-shadow:1px 1px 0px #000;
  padding-top:10px;
  }

.submenu li.links{
 padding-right:3.5%;
}

.submenu li a:hover, .submenu li a:active, .submenu .current_page_item
a{
  color:#fff;
  text-shadow:1px 1px 0px #000}

#profile_image {
  border-radius: 15px;
}


/*------------- homepage --------------------*/
.home .row {
  padding: 10px 10px 10px 10px;
  font: 40px "ClarendonRoman",Georgia,Times,serif;
  color: rgb(82, 82, 80);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: url(opacity50.png);
  border-radius: 40px;
}

/*------------- new trip form --------------------*/
#newtrip {
    margin: 10% 10%;
    padding-bottom: 23px;
    border-bottom: 1px solid rgb(167, 167, 164);
}

#newtrip legend{
  font-size: 1.4em;
}

#newtrip label {
    font: 13px "ClarendonRoman",Georgia,Times,serif;
    color: rgb(82, 82, 80);
    letter-spacing: 2px;
    text-transform: uppercase;
    /*top: 4px;*/
}

#newtrip textarea{
  height: 150px;
}

/*------------------- connect accounts ---------------*/

#instagram  {
  width: 200px;
}

fieldset.accounts {
  margin: 10% 10%;
  padding-bottom: 23px;
  border-bottom: 1px solid rgb(167, 167, 164);
}

legend{
  font-size: 1.4em;
}




