<div>
  <h3><%= link_to trip.name, trip_path(trip.id), {class: "trip-name"} %>
  <%= link_to "Edit", edit_trip_path(trip.id), {class: "trip-edit-link"} %></h3>
  <p><span class="trip-desc"><%= trip.description %></span></p>
</div>

