<div class='dashboard'>
  <div class="small-centered columns">
    <div class="column dashboard-trips bubble">
      <h2>Your Trips:</h2>
      <%= @trips ? render(@trips) : "There are no trips available." %>
    </div>
    <div class="column dashboard-trips bubble">
       <h2>Fellow Tripsters:</h2>
       <% if @trips %>
        <% @trips.each do |trip| %>
          <p>with:
          <% trip.users.each do |user| %>
            <%= user.name %></p></br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
