 <%= javascript_include_tag "/assets/storyjs-embed.js" %>
 <script>
$(document).ready(function() {
  createStoryJS({
    type:       'timeline',
  width:      '800',
  height:     '600',
  source:     '/api/v1/timeline/1',
  embed_id:   'my-timeline'
  });
});
 </script>
 <!-- END TimelineJS -->
 <div id="my-timeline"></div>
