 <script>
$(document).ready(function() {
  createStoryJS({
    type:       'timeline',
  width:      '100%',
  height:     '600',
  source:     '/api/v1/timeline/<%= @trip.id %>.json',
  embed_id:   'my-timeline',
  css:        '/assets/stylesheets/timeline.css',
  gmap_key:   '#{GOOGLE_STATIC_MAP_API_KEY}'
  });
});
 </script>
 <!-- END TimelineJS -->

<div id="dash-toggle-wrapper">
  <%= link_to "Dashboard View", trip_path(@trip.id), :class => "dash-toggle" %>
</div>

<div id="my-timeline"></div>
