<fieldset class="accounts">
  <legend> Connect your Accounts </legend>
<div class="row">
  <div class="small-centered columns" id="instagram">
      <%= link_to image_tag("instagram.png"), @photos_api.connect_url %>
  </div>
  <div class="row">
     <%= link_to image_tag("foursquare.png", alt: "Login with Foursquare"), @checkins_api.connect_url %>
  </div>
</div>
</fieldset>
