

<body class="home">
<div class="row">
  <div class="small-centered columns welcome">Welcome to the trip aggregator site.  Compile your Instagram photos, FourSquare check-ins and Twitter tweets from your trip</div>
</body>

