/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

// ------------ dashboard ----------------------

.dashboard {
  background: #9edbff url(/images/dashboard.png);
  background-size: 100% auto;
  width: 100%;
  border-radius: 40px;
}


// ---------- account page --------------------
#instagram  {
  width: 200px;
}

#foursquare {
  width: 300px;
  justify-content: center;
}
