
body {
  font-family: 'Droid Sans', sans-serif !important;
}

// -------------- homepage --------------------------
div.home {
  background: #9edbff url(/images/earth.jpg);
  background-size: 100% auto;
  width: 100%;
  height:820px;
  padding-top:90px;
  }

.welcome {
  padding: 20px 20px 20px 30px;
  font: 40px "ClarendonRoman",Georgia,Times,serif;
  color: rgb(82, 82, 80);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: url(/images/opacity50.png);
  border-radius: 40px;
  width: 960px;
  margin: 0 auto;
  }

.logo_image {
  float:left;
  width: 160px;
  padding: 5px 0px 0px 10px;
  }

ul.tripster-nav-links {
  list-style:none;
  float: right;
  width:500px;
  margin-right: 20px
}

ul.tripster-nav-links li {
  float:right;
  margin-left:10px;
  line-height: 25px;
}


ul.tripster-nav-links li a {
  color:#ccc;
  font-size:15px;
}

ul.tripsters-avatars li {
  float:left;
  background:none !important;
  border:none !important;
}

span.tripsters-avatars img {
  border-radius: 30px;
}

ul.tripsters-avatars li img {
  border-radius: 30px;
}

#profile_image {
  border-radius: 30px;
  margin-top:-10px;
}


// --------------------form page -------------------
#newtrip {
  margin: 20px auto;
  padding: 10px 10px 10px 10px;
  padding-bottom: 23px;
  width: 600px;

}

#newtrip legend{
  font-size: 1.4em;
}

#newtrip label {
    display: block;
    font: 25px "ClarendonRoman",Georgia,Times,serif;
    color: rgb(82, 82, 80);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
}

#newtrip textarea{
  display: block;
  height: 100px;
  width: 100%;
}

#newtrip input[type="submit"] {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.11111rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.88889rem;
  padding-right: 1.77778rem;
  padding-bottom: 0.94444rem;
  padding-left: 1.77778rem;
  font-size: 0.88889rem;
  background-color: #008cba;
  border-color: #007295;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 0.94444rem;
  padding-bottom: 0.88889rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
  width: 100%;
  }

#newtrip input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.77778rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  height: 2.05556rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 100%;
}

// ------------ dashboard ----------------------


.dashboard-trips {
    margin-top: 110px;
    padding: 20px 20px 20px 30px;
    font: 40px "ClarendonRoman", 20px Georgia,Times,serif;
    color: rgb(82, 82, 80);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

.dashboard a {
  color:#000;
}

a.trip-edit-link {
  font-size: 12px;
}

.tripster-avatar-each {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.tripster-avatar-each:hover {
    background:url(/images/hover.png) no-repeat;
    opacity: 0.5;
    top:0px;
}

// ---------- account page --------------------
.instagram  {
  width: 200px;
}

.foursquare {
  width: 300px;
}

fieldset.accounts {
  margin: 5% 5% ;
  justify-content: center;
  padding-bottom: 20px;
  margin-left: 30%;
  width: 600px;

}

legend{
  font-size: 1.4em;
}


// ----- map ----

#map {
  width: 100%;
  height: 378px;
}

// ----------- application scrolling ability ---------------

.top-bar {
  background: #333333;
  height:70px;
}

.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px;
}
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px;
}

div.main {
  padding-top:75px;
  }

/* Pane configuration */
     
 .left.col { left:0; right:375px;}
 .right.col { width:375px; right:0px;}
 .full.col { right:0px; left:0px;}
 .header.row { height: 75px; line-height: 75px; }
 .body.row { top: 75px; bottom: 60px; }
 .footer.row { height: 60px; bottom: 0; line-height: 60px; }


/* Generic pane rules */
body { margin: 0; -webkit-text-size-adjust: 100%; }
.page { left: 0; right: 0; top: 0; bottom: 0; }
.row, .col, .page { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }
.pane { display: none; }

/* Workaround: in landscape mode, IEMobile makes bottom toolbar overlap the page, so shorten the page by 75px to compensate */
.iemobile .page { bottom: -6px; }
@media screen and (orientation:landscape) { .iemobile .page { bottom: 75px; } }


/* Very rough, iOS-like styles. */

body { font-family: 'Helvetica Neue', Arial, Sans-Serif; }
.header, .footer {
    color: #eee; background: #696f77; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); padding: 0 0.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696f77), color-stop(100%,#28343b));
    background: -webkit-linear-gradient(top, #696f77 0%,#28343b 100%); background: -ms-linear-gradient(top, #696f77 0%,#28343b 100%); 
}
.header { font-size: 1.4em; }
.body, .pane { background: #ddd }
.right.col { border-left: 1px solid black; }
.right.col .body { padding: 0 1em; }
.listview { padding: 0; margin: 0; color: #444; }
.listview li { list-style-type: none; background: #eee; padding: 1em; border-top: 1px solid #aaa; border-bottom: 1px solid #fff; cursor: pointer; padding-left:40px;}
.listview li.selected { background-color: #37F; color: White; }
            
.listview.inset { margin: 1em 0; }
.listview.inset li { background: white; border: 2px solid #aaa; border-bottom-width: 0; }
.listview.inset li:first-child { border-radius: 1em 1em 0em 0em }
.listview.inset li:last-child { border-radius: 0em 0em 1em 1em; border-bottom-width: 2px; }
            
.tiles { overflow-y: hidden; }
.tiles > ul { width: 2000px; }
.tiles ul { margin: 0; padding: 0; white-space: nowrap; }
.tiles li { position:relative; list-style-type: none; display: inline-block; background-color: #fff; width:150px; height: 150px; padding: 1em; color: White; margin: 5px; font-weight: bold; zoom:1; *display: inline; }

button { display: block; border: 2px solid #aaa; line-height: normal; background-color: White; border-radius: 8px; margin: 8px 0; cursor: pointer; padding: 5px 20px; font-weight: bold; color: #333; }

a.trip-invite-link {
  color:#ccc;
}

.trip-name {
  display:inline-block;
}

a.trip-update-feed-link {
  display: inline-block;
  float:right;
  margin-top:10px;
}

ul.tripsters-avatars {
  list-style: none;
  margin:5px 0 0 0;
  padding:0;
  padding-left:10px;
}

ul.tripsters-avatars li {
  float:left;
  margin-left:5px;
  display: block;
}

ul.tripsters-avatars li a img {
  border-radius:30px;
}


// -------- alerts ------------
.alert-box {
  overflow: hidden;
  color:#fff;
  font-size:25px;
  padding:10px 0 10px 42px;
}

.alert-box.alert {
  background-color:#a63030;

}

.alert-box.success {
  background-color:#328e5b;
}

a.close {
   display:inline !important;
   color:#ccc;
   font-weight: bold;
   text-decoration: none;
}

// --------- speech bubbles ----------


.triangle-right.left {
margin-left: 40px;
background: #3e92ec;
}

/*color-stop(0%,#696f77), color-stop(100%,#28343b));*/

.triangle-right {
position: relative;
padding: 15px;
margin: 1em 0 1em;
color: #fff;
background: #075698;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
background: -moz-linear-gradient(#2e88c4, #075698);
background: -o-linear-gradient(#2e88c4, #075698);
background: linear-gradient(#2e88c4, #075698);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.triangle-right.left:after {
top: 16px;
left: -40px;
bottom: auto;
border-width: 15px 40px 0 0;
border-color: transparent #3e92ec;
}

.triangle-right:after {
content: "";
position: absolute;
bottom: -20px;
left: 50px;
border-width: 20px 0 0 20px;
border-style: solid;
border-color: #3e92ec transparent;
display: block;
width: 0;
}

span.photo-time, span.photo-origin  {
  color:#fff;
  padding:0 3px;
}

span.photo-origin {
  padding-top:55px;
}

span.tweet-time, span.photo-time {
  display:block;
  margin-top:5px;
  font-size:12px;
  text-align: right;
}

span.tweet-origin, span.photo-origin {
  display: block;
  font-size:14px;
  font-weight: bold;
  margin-bottom:2px;
}

.modal a.close-modal {
  background: url(/images/close.png) no-repeat 0 0 !important;
  top: 2.5px !important;
  right: 2.5px !important;
}


.photo-info {
  display: none;
  position: absolute;
  top: 17px;
  height: 149px;
  width: 150px;
}

.photo-info-active {
  display: block;
  
  background: rgba(54, 25, 25, .5);
}



