/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#sidebar {
  position:absolute;
  top:0px;
  left:0px;
  background:#fff;
  z-index:999;
  overflow:auto;
  opacity:0.6;
  }
#sidebar:hover { opacity:1; }
#timeline {
  padding:10px;
  }
#timeline a {
  font-size:10px;
  text-decoration:none;
  }
#timeline #controls {
  position:absolute;
  top:15px;
  right:15px;
  }
#timeline #controls a {
  font-size:20px;
  color:#DC1438;
  margin-left:10px;
  }
a.year-active {
  color:#DC1438;
  }

@import "foundation/components/alert-boxes"
