<%# navigation styled for Zurb Foundation 5 %> 

<div class="header row">
   <%= link_to image_tag("logo.png", class: "logo_image"),root_path %> 
   <ul class="tripster-nav-links">
      <%= render 'layouts/navigation_links' %>
    </ul>  
</div>